mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
  }

  .active {
    border-bottom: 2px solid white;
  }
}
